<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#" lang="en" ng-app="demoApp" id="top">
	<head>
		<meta charset="UTF-8" />
		<title>AngularJS Modules by Shift8Creative</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Various modules and extras for Angular.js created by Shift8Creative.">
		<meta name="author" content="Tom Maiaroto">
		
		<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/smoothness/jquery-ui.css" />
		<link rel="stylesheet" type="text/css" href="demo/css/main.css" />
		<link rel="stylesheet" type="text/css" href="demo/css/prettify.css" />
		<link rel="stylesheet" type="text/css" href="demo/css/docs.css" />
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

		<script type="text/javascript" src="demo/js/jquery.meio.mask.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-sanitize.min.js"></script>
		<script type="text/javascript" src="http://angular-ui.github.io/ui-utils/core/prettifyDirective.js"></script>
		
		<!-- Angular UI -->
		<script type="text/javascript" src="demo/js/bower_components/angular-ui/build/angular-ui.min.js"></script>
		<script type="text/javascript" src="demo/js/bower_components/angular-ui-utils/modules/jq/jq.js"></script>
		<script type="text/javascript" src="demo/js/bower_components/angular-ui-utils/modules/validate/validate.js"></script>
		<script type="text/javascript" src="demo/js/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
		<script type="text/javascript" src="demo/js/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
		<link rel="stylesheet" type="text/css" href="demo/js/bower_components/angular-ui/build/angular-ui.min.css"></script>

		<!-- Demo App -->
		<script type="text/javascript" src="demo/js/main.js"></script>
		
		<!-- Angular-Shift8 -->
		<script type="text/javascript" src="modules/bootstrap/form.js"></script>
		<link rel="stylesheet" type="text/css" href="modules/bootstrap/css/form.css" />

		<style type="text/css">
			body {
				padding-bottom: 30px;
			}
		</style>
		<link href="demo/img/favicon.png" title="Icon" type="image/x-icon" rel="icon" />
		<link href="demo/img/favicon.png" title="Icon" type="image/x-icon" rel="shortcut icon" />
	</head>
	<body ng-controller="MainCtrl">
		<header class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<div class="dropdown pull-left">
						<a class="brand" href="http://angular-shift8.github.io/">Angular Shift<sup style="color: #fc7f0d;">8</sup></a>
					</div>
				</div>
			</div>
		</header>
		<div role="main">

			<header class="hero-unit" id="overview">
				<div class="container">
					<h1 class="thinner-title"> Angular Shift<sup>8</sup></h1>
					<p class="thin">Modules for the <strong><a href="http://angularjs.org" target="_blank">AngularJS</a></strong> framework by Shift8Creative.</p>
				</div>
				<div class="bs-docs-social">
					<div class="container">
						<ul class="bs-docs-social-buttons">
							<li>
								<iframe src="http://ghbtns.com/github-btn.html?user=tmaiaroto&repo=angular-shift8&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
							</li>
							<li>
								<iframe src="http://ghbtns.com/github-btn.html?user=tmaiaroto&repo=angular-shift8&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
							</li>
							<li>
								<a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="angularjs">Tweet</a>
								<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
							</li>
							<li>
								<!-- Place this tag where you want the +1 button to render. -->
								<div class="g-plusone" data-size="medium"></div>

								<!-- Place this tag after the last +1 button tag. -->
								<script type="text/javascript">
								(function() {
								  var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
								  po.src = 'https://apis.google.com/js/plusone.js';
								  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
								})();
								</script>
							</li>
						</ul>
					</div>
				</div>
			</header>

			<div class="container">
				<section>
					<h1 class="page-header">Bootstrap
						<small>Modules for use with Twitter Bootstrap...</small>
					</h1>
					
					<div class="row">
						<div class="span10 offset2">
							<p>Using Twitter Bootstrap? Well, as you know it has a specific HTML structure for forms and various components. I've created a set of directives that help make this an easier process which will speed up your development time.</p>
						</div>
						
					</div>
					
					<h2>Forms
						<small class='thin'>/modules/bootstrap/form.js</small>
					</h2>
					<p>
						Let's start with some directives for creating forms quickly. They are <code>&lt;b-form&gt;</code>, <code>&lt;b-field&gt;</code>, and <code>&lt;b-form-progress&gt;</code>.<br />You'll typically want to nest the fields and progress bar within the form directive.
					</p>
					<div class=" bs-docs-example">

						<b-form class="form-horizontal" name="DemoForm" class="form-horizontal" schema="{{DemoFormSchema}}" novalidate="true">
							<b-form-progress></b-form-progress><br />
							<b-field type="text" required ng-model="Name"></b-field>
							<b-field type="text" placeholder="jdoe@example.com" ui-validate='{"You Must enter a valid e-mail address.": "validate.email($value)"}' ng-model="Email"></b-field>
							<b-field type="text" ui-jq="setMask" ui-options="{mask: '9,999'}" placeholder="_,___" required label="Money!" help-block="Full input field append/prepend support. Go wild! <code>append=&quot;crazy html here...&quot;</code>" prepend='<span class="add-on">$</span>' append='<span class="add-on">.00</span>' ng-model="Money"></b-field>
							<b-field type="select" required empty="--" help-block='<code>options=&#39;{"red": {"option": "Red"}, "blueGreen": {"option": "Blue Green"}, "blue": {"option": "Blue"}}&#39;</code>' ng-model="Colors"></b-field>
							<b-field type="radio" label="Radio Format" options='{"red": {"option": "Red"}, "blueGreen": {"option": "Blue Green", "checked": true}, "blue": {"option": "Blue"}}' ng-model="RadioTest"></b-field>
							<b-field type="select" label="Grouped Select" options='{"red": {"option": "Red", "group": "Warm Tones"}, "blueGreen": {"option": "Blue Green", "group": "Cool Tones"}, "blue": {"option": "Blue", "group": "Cool Tones", "selected": true}}' help-block='<code>options=&#39;{"red": {"option": "Red", "group": "Warm Tones"}, "blue": {"option": "Blue", "group": "Cool Tones", "selected": true}}&#39;</code>' ng-model="ColorsGrouped"></b-field>
						</b-form>

					</div>
					
					<p>
						<strong>A note about select, radio, and checkbox options...</strong><br />
						Angular.js has an attribute <code>ng-options</code> which is not the easiest thing to use. I'm using a convention and sticking to a specific format in my directive templates. This isn't to say that you can't ignore my <code>options</code> attribute and write your own <code>ng-options</code> to have that passed along and pull from some variable in your controller...But I would highly recommend using my format (seen above in the help area under some of the fields).
					</p>
					<p>
						The format is pretty straight forward. I use an object (not an array) even for simple lists. Using an array (by Angular default) will assign numbers for the values, for example:<br /><code>&lt;option value="0"&gt;Option Label&lt;/option&gt;</code><br />
						Which I think is just weird and not very useful. How many times do you want a number stored in your database that only references the order in which you listed values on the front-end?! So yea, key those values and use an object...But even still Angular gives you a few ways to go about that. I came up with an object format where the key is the option value and then the value is another object with an <code>option</code> key of which the value is used for the label/text that user sees in the select/radio/checkbox choice. Then optional <code>group</code> and <code>selected</code> or <code>checked</code> keys that have true/false for selected/checked and a string value for select groups.
					</p>
					<p>
						Use this convention for checkboxes, select lists, and radio buttons and switch between the form element types without changing your object! This makes things a lot more sane in my opinion, but again you are free to do as you wish.
					</p>
					
					<h2 class='thin'>Templates</h2>
					<p>
						If you need to, you can change the directive templates and then switch which field is using which template on a case by case basis. Let's say you didn't like how I wired the HTML for the text input field...Or maybe you needed to break Twitter Bootstrap's structure. You could write your own template, calling it <code>text.html</code> and specify a new base path for the template. For example: <code>&lt;b-field type="text" ng-model="MyField" template-base-path="full-url.com/path/or/from/site/root/"&gt;&lt;/b-field&gt;</code>
					</p>
					<p>
						The directive templates are dynamically loaded in via <code>$http</code> call in Angular, so it can be pretty much anywhere. The name of the template will be based off of the <code>type</code> attribute. By default, I've provided; text, password, select, radio, checkbox, file, and textarea. However, you can create your own custom input field types. Think date pickers, etc. You'll just need to create the templates and define the new base path.
					</p>
					
					<h2 class='thin'>Compatibility</h2>
					<p>
						I love Angular-UI, it's utils and Angular-Bootstrap. This form directive is fully compatible so you can use attributes such as <code>ui-validate</code> and <code>ui-jq="setMask"</code> with <code>ui-options='{mask: "(999) 999-9999"}'</code> for example.
					</p>
					<p>
						In fact, I built this directive with Angular-UI in mind. So you can use validation and have the rule key name transform into the error message. For example: <code>ui-validate="{'You must provide a valid e-mail address.': 'validate.email($value)'}"</code>
					</p>
					<p>
						In the example above, I have a <code>validate</code> object in my controller with an <code>email</code> property that has a function that runs a regex to check an e-mail address format. The function returns true/false. <a href="http://angular-ui.github.io/ui-utils/" target="_blank">See the Angular-UI documention</a> for more information on validation and such. However, the key here is used in my directive templates to display to the user. By default, Angular-UI calls the key <code>validate</code> if not specified, which I do not display because it doesn't make sense. So key your validation rules.
					</p>
				</section>
			</div>
			
		</div>
	</body>
</html>
