<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#" lang="en" ng-app="demoApp" id="top">
	<head>
		<meta charset="UTF-8" />
		<title>AngularJS Modules by Shift8Creative</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Various modules and extras for Angular.js created by Shift8Creative.">
		<meta name="author" content="Tom Maiaroto">
		
		<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/smoothness/jquery-ui.css" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<link rel="stylesheet" type="text/css" href="css/prettify.css" />
		<link rel="stylesheet" type="text/css" href="css/docs.css" />
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

		<script type="text/javascript" src="js/jquery.meio.mask.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-sanitize.min.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
		
		<!-- Angular-Shift8 -->
		<script type="text/javascript" src="modules/bootstrap/form.js"></script>
		<link rel="stylesheet" type="text/css" href="modules/bootstrap/css/form.css" />

		<style type="text/css">
			body {
				padding-bottom: 30px;
			}
		</style>
		<link href="img/favicon.png" title="Icon" type="image/x-icon" rel="icon" />
		<link href="img/favicon.png" title="Icon" type="image/x-icon" rel="shortcut icon" />
	</head>
	<body ng-controller="MainCtrl">
		<header class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<div class="dropdown pull-left">
						<a class="brand" href="http://angular-shift8.github.io/">Angular Shift<sup>8</sup></a>
					</div>
				</div>
			</div>
		</header>
		<div role="main">

			<header class="hero-unit" id="overview">
				<div class="container">
					<h1 class="thinner-title"> Angular Shift<sup>8</sup></h1>
					<p class="thin">Modules for the <strong><a href="http://angularjs.org" target="_blank">AngularJS</a></strong> framework by Shift8Creative.</p>
				</div>
				<div class="bs-docs-social">
					<div class="container">
						<ul class="bs-docs-social-buttons">
							<li>
								<iframe src="http://ghbtns.com/github-btn.html?user=tmaiaroto&repo=angular-shift8&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
							</li>
							<li>
								<iframe src="http://ghbtns.com/github-btn.html?user=tmaiaroto&repo=angular-shift8&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
							</li>
							<li>
								<a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="angularjs">Tweet</a>
								<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
							</li>
							<li>
								<!-- Place this tag where you want the +1 button to render. -->
								<div class="g-plusone" data-size="medium"></div>

								<!-- Place this tag after the last +1 button tag. -->
								<script type="text/javascript">
								(function() {
								  var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
								  po.src = 'https://apis.google.com/js/plusone.js';
								  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
								})();
								</script>
							</li>
						</ul>
					</div>
				</div>
			</header>

			<div class="container">
				<section>
					<h1 class="page-header">Bootstrap
						<small>Modules for use with Twitter Bootstrap...</small>
					</h1>
					
					<div class="row">
						<div class="span10 offset2">
							<p>Using Twitter Bootstrap? Well, as you know it has a specific HTML structure for forms and various components. I've created a set of directives that help make this an easier process which will speed up your development time.</p>
						</div>
						
					</div>
					
					<h2>Forms
						<small class='thin'>/modules/bootstrap/form.js</small>
					</h2>
					<p>
						Let's start with some directives for creating forms quickly. They are <code>&lt;b-form&gt;</code>, <code>&lt;b-field&gt;</code>, and <code>&lt;b-form-progress&gt;</code>. You'll want to nest the fields and progress bar within the form directive.
					</p>
					<div class=" bs-docs-example">

						<b-form class="form-horizontal" name="DemoForm" class="form-horizontal" schema="{{DemoFormSchema}}" novalidate="true">
							<b-form-progress></b-form-progress><br />
							<b-field type="text" required ng-model="Name"></b-field>
							<b-field type="text" required ng-model="Email"></b-field>
							<b-field type="text" required label="Money!" help-block="Full input field append/prepend support. Go wild! <code>append=&quot;crazy html here...&quot;</code>" prepend='<span class="add-on">$</span>' append='<span class="add-on">.00</span>' ng-model="Money"></b-field>
							<b-field type="select" required empty="--" help-block='<code>options=&#39;{"red": {"option": "Red"}, "blueGreen": {"option": "Blue Green"}, "blue": {"option": "Blue"}}&#39;</code>' ng-model="Colors"></b-field>
							<b-field type="radio" label="Radio Format" options='{"red": {"option": "Red"}, "blueGreen": {"option": "Blue Green", "checked": true}, "blue": {"option": "Blue"}}' ng-model="RadioTest"></b-field>
							<b-field type="select" label="Grouped Select" options='{"red": {"option": "Red", "group": "Warm Tones"}, "blueGreen": {"option": "Blue Green", "group": "Cool Tones"}, "blue": {"option": "Blue", "group": "Cool Tones", "selected": true}}' help-block='<code>options=&#39;{"red": {"option": "Red", "group": "Warm Tones"}, "blue": {"option": "Blue", "group": "Cool Tones", "selected": true}}&#39;</code>' ng-model="ColorsGrouped"></b-field>
						</b-form>

					</div>
					
					<p>
						<strong>A note about select, radio, and checkbox options...</strong><br />
						Angular.js has an attribute <code>ng-options</code> which is not the easiest thing to use. I'm using a convention and sticking to a specific format in my directive templates. This isn't to say that you can't ignore my <code>options</code> attribute and write your own <code>ng-options</code> to have that passed along and pull from some variable in your controller...But I would highly recommend using my format (seen above in the help area under some of the fields).
					</p>
					<p>
						The format is pretty straight forward. I use an object (not an array) even for simple lists. Using an array will assign numbers for the values, for example:<br /><code>&lt;option value="0"&gt;Option Label&lt;/option&gt;</code><br />
						Which I think is just weird and not very useful. How many times do you want a number stored in your database the only references the order in which you listed values on the front-end?! So yea, key those values and use an object...But even still you have a few ways to go about it there. I came up with an object format where the key is the option value and then the value is another object with an <code>option</code> key who's value is the label the user sees in the select/radio/checkbox area. Then optional <code>group</code> and <code>selected</code> or <code>checked</code> keys that have true/false for selected/checked and a string value for select groups.
					</p>
					<p>
						Use this convention for checkboxes, select lists, and radio buttons and switch between the form element types without changing your object! This makes things a lot more sane in my opinion, but again you are free to do as you wish.
					</p>
				</section>
			</div>
			
		</div>
	</body>
</html>
